.product-tile {
  flex-basis: 100%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* Two cols on small tablets */
@media screen and (min-width: 576px) {
  .product-tile {
    flex-basis: 50%;
  }
}
/* Three cols on large tablets */
@media screen and (min-width: 768px) {
  .product-tile {
    flex-basis: 33.33%;
  }
}
/* Four cols on large screens */
@media screen and (min-width: 992px) {
  .product-tile {
    flex-basis: 25%;
  }
}
.product-tile .specials {
  min-height: 70px;
}
.product-tile .detail {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  min-height: 52px;
}
.product-tile .detail .name {
  font-size: 1em;
  font-weight: bold;
}
.product-tile .detail .price {
  font-size: 2em;
  line-height: 1.15em;
  font-weight: bold;
  padding-left: 10px;
}
.product-tile .exclusive {
  margin: 10px 0;
  background-color: green;
  padding: 10px 20px;
  color: white;
  display: inline-flex;
}
.product-tile .sale {
  margin: 10px 0;
  background-color: red;
  padding: 10px 20px;
  color: white;
  display: inline-flex;
}
.product-tile .product-image {
  min-height: 310px;
}
